@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display&family=Inter:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer utilities {
    .items-row {
        @apply flex flex-row items-center;
    }
    .underline-custom {
        @apply absolute block w-full h-[1px] bottom-0 left-0 dark:bg-white bg-black scale-0 transition-transform;
        content: "";
    }
    .link-hover {
        @apply cursor-pointer hover:text-cyan-600 hover:dark:text-cyan-400 transition-all;
    }
}
@keyframes scaleUp {
    0% {
        scale: 0;
    }
    100% {
        scale: 1;
    }
}
@keyframes themeUp {
    0% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0)
    }
}
@keyframes themeDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}
@keyframes theme2Up {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%)
    }
}
@keyframes theme2Down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(-200%);
    }
}